{% extends "layout.njk" %}

{% block content %}
    <center>
        <font size="5">
            <font color="white">
                Page in construction....
                <br/>

                Back to HomePage
                <br><br><br>
                <a href="/">
                    <i class='fas fa-history' style='font-size:48px;color:white'></i>
                </a>
            </font>
        </font>
    </center>
{% endblock %}