{% extends "layout.njk" %}

{% block content %}
    <img src="https://avatars2.githubusercontent.com/u/25531776?s=460&u=1d458cbad34e899198f3c33104271964c087cea9&v=4" class="perfil" alt="profile" title="profile_Fighter">
    <div class="apresentation">
        <p class="myName">Felipe Ferraz Leonardo</p>
        <p class="profession">"Coordenador de Acolhimento|Town Hall of Praia Grande"</p>
        <p class="aboutMe">Student of
            <b>"Analysis and Sistems Development"</b>
        </p>
    </div>

    <footer>
        <a href="https://www.linkedin.com/in/felipe-ferraz-leonardo-378aa0169" target="_blank">
            <i class='fab fa-linkedin' style='font-size:48px;color:white'></i>
        </a>
        <a href="https://github.com/FelipeLeonardo98" target="_blank">
            <i class='fab fa-github' style='font-size:48px;color:white'></i>
        </a>
    </footer>
{% endblock %}