<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <title>About: Felipe Leonardo</title>
        <!-- <link rel="stylesheet" href="/css/home.css" type="text/css"> -->
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <header>
            <ul>
                <li>Experiences
                    <ul>
                        <li>
                            <a href="https://poupatempo.sp.gov.br" target="_blank">Poupatempo</a>
                        </li>
                        <li>
                            <a href="http://prodesp.sp.gov.br" target="_blank">Prodesp</a>
                        </li>
                        <li>
                            <a href="http://praiagrande.sp.gov.br" target="_blank">Town Hall of Praia Grande</a>
                        </li>
                    </ul>
                </li>
                <li>Formations/Studies
                    <ul>
                        <li>
                            <a href="https://etecpg.com.br" target="_blank">ETEC - Praia Grande</a>
                        </li>
                        <li>
                            <a href="https://unip.br/presencial/" target="_blank">UNIP</a>
                        </li>
                        <li>
                            <a href="https://alura.com.br" target="_blank">Udemy | Alura</a>
                        </li>
                    </ul>
                </li>
                <li>Leisure
                    <ul>
                        <li>
                            <a href="/build">Muay Thai | Boxe</a>
                        </li>
                        <li>
                            <a href="/build">To Run</a>
                        </li>
                        <li>
                            <a href="/series">
                                <span class="glyphicon glyphicon-headphones"></span>Series | Music's
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="/">
                            <i class='fas fa-history' style='font-size:10px;color:white'></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    {% block content %}{% endblock %}
</body>
</html>