{% extends "layoutSeries.njk" %}
{% block content %}
    <body>
        <p class="title">Opening: Red Right Hand</p>
        <audio src="/redRightHand.mp3" controls="controls" autoplay="autoplay" loop="loop"></audio>
        <p class="title">Peaky Blinders</p>
        <img src="/peaky4.jpeg" class="fileImagem" alt="profile" title="'By order, of the Peaky Blinders!'">
        <p class="describe">Apostas, sangue e navalhas</p>
        <img src="/peaky3.jpeg" class="fileImagem" alt="profile" title="'I am Tommy Shelby'">
        <p class="detail">From Birmingham, Inglaterra, Sec. XX</p>
        <div class="apresentation"></div>

        <footer></footer>

    {% endblock %}